/**
 * Base Variables
 */
/**
 * Base Settings/Overwrite Normalize
 */
 *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    padding: 4em 1em;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: #001856;
    background-color: #f8f8f8;
  }
  @media (min-width: 22em) {
    body {
      font-size: 102.5%;
    }
  }
  @media (min-width: 32em) {
    body {
      font-size: 105%;
    }
  }
  @media (min-width: 54em) {
    body {
      font-size: 107.5%;
    }
  }
  @media (min-width: 65em) {
    body {
      font-size: 110%;
    }
  }
  @media (min-width: 91em) {
    body {
      font-size: 115%;
    }
  }
  
  h1 {
    margin: 0;
  }
  
  /**
   * Components
   */
  .grid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 54em) {
    .grid {
      width: 95%;
    }
  }
  @media (min-width: 91em) {
    .grid {
      width: 80%;
    }
  }
  
  .css-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  @media (min-width: 32em) {
    .css-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 54em) {
    .css-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 65em) {
    .css-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .css-grid > *:nth-child(1n+1) {
    -webkit-animation-delay: 200ms;
            animation-delay: 200ms;
  }
  @media (min-width: 32em) {
    .css-grid > *:nth-child(2n+1) {
      -webkit-animation-delay: 200ms;
              animation-delay: 200ms;
    }
    .css-grid > *:nth-child(2n+2) {
      -webkit-animation-delay: 400ms;
              animation-delay: 400ms;
    }
  }
  @media (min-width: 54em) {
    .css-grid > *:nth-child(3n+1) {
      -webkit-animation-delay: 200ms;
              animation-delay: 200ms;
    }
    .css-grid > *:nth-child(3n+2) {
      -webkit-animation-delay: 400ms;
              animation-delay: 400ms;
    }
    .css-grid > *:nth-child(3n+3) {
      -webkit-animation-delay: 600ms;
              animation-delay: 600ms;
    }
  }
  @media (min-width: 65em) {
    .css-grid > *:nth-child(4n+1) {
      -webkit-animation-delay: 200ms;
              animation-delay: 200ms;
    }
    .css-grid > *:nth-child(4n+2) {
      -webkit-animation-delay: 400ms;
              animation-delay: 400ms;
    }
    .css-grid > *:nth-child(4n+3) {
      -webkit-animation-delay: 600ms;
              animation-delay: 600ms;
    }
    .css-grid > *:nth-child(4n+4) {
      -webkit-animation-delay: 800ms;
              animation-delay: 800ms;
    }
  }
  .css-grid__card {
    position: relative;
    /* padding-top: 100%; */
    -webkit-animation-name: fade-in-up;
            animation-name: fade-in-up;
  }
  @media (max-width: 32em) {
    .css-grid__card:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  .css-grid__container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 4em 1em;
    background-color: #fff;
    border: 3px solid #001856;
  }
  
  /**
   * Animations
   */
  @-webkit-keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }